.idea
*.sw*
*~
build/
bin/
**/node_modules/
bower_components
.DS_Store
prod/
**/.sass-cache
**/dist/
aws*.json
*.sublime-*
todo.md
.tmp/
src/app/config.js
src/public/assets/js/globals.js
update-staging.sh
config/environments/local.json
npm-debug.log
